<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.sadasen.account.mapper.StatisticsMapper">
	
	<select id="findToday" resultType="double" parameterType="String">
		select IFNULL(round(sum(price)/100,2), 0) from a_record where uid = #{uid} and to_days(rdate) = to_days(now())
	</select>
	
	<select id="findTotal" resultType="double" parameterType="com.sadasen.account.dto.RecordDto">
		select IFNULL(round(sum(price)/100,2), 0) from a_record where uid = #{uid}
		<if test="beginDate != null and beginDate != ''">
			and rdate &gt;= #{beginDate}
		</if> 
		<if test="endDate != null and endDate != ''">
			and rdate &lt;=  #{endDate}
		</if> 
	</select>
	
	<select id="findDailyRecord" resultType="com.sadasen.account.vo.DailyRecord" parameterType="String">
		select IFNULL(round(sum(price)/100,2), 0) as total, rdate from a_record where uid = #{uid} group by rdate order by rdate desc
	</select>
	
	<select id="findConsumeSort" resultType="com.sadasen.account.vo.ConsumeSort" parameterType="String">
		select IFNULL(round(sum(r.price)/100,2), 0) as total, c.name 
		from a_record r join a_consume c on r.cid = c.id
		where r.uid = #{uid}
		group by r.cid
		order by total desc
	</select>
	
</mapper>